@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'Netflix Sans';
  font-weight: 300;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}
body {
  margin: 0;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141414;
  color: #ffffff;
  overflow-x: hidden;

}

ul{
  list-style-type: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent{
  width: 50vw;
  margin: auto;
  margin-left: 10%;
  margin-right: 5%;  
}
main {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}


.Header {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  display: flex;
  justify-content: start;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 40px;
  background: rgb(14, 14, 14);
  color: #FF432D;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

.user{
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: 'Bebas Neue', cursive;
  font-size: small;
  margin-right: 50px;
}

.user span {
  padding-left:15px ;
}

.btn-select{
  background-color: #E50914;
  color: #ffffff;
  width: 80px;
  height: 25px;
  text-transform: capitalize;
  border-radius: 4px;
  border: 0;
  margin-left: 20px;
  margin: -20px;
  font-weight: bold;
}


.btn-select:hover{
  background-color: #c2030c;
  cursor: pointer;
}

.btn-select:hove ::after{
  background-color: aliceblue;
}

.player h1{
  font-size: 23px;
  text-transform: uppercase;
}

.player h3{
  font-size: 15px;
}

.parent h2{
  font-size: 18px;
  font-weight: bold;
  margin-left: 40px;
  color:#ffffff;
  text-transform: uppercase;
}

.parent  li{
font-size: 15px;
margin-top: 12px;
color: antiquewhite;
}
.parent ul{
  margin-bottom: 50px;
}

.container{
  display: flex;
  justify-content: end ;
align-content: space-between;
}

